body {
  background-color: black;
  color: white;
}

#showcase {
  background-size: cover;
}

#Joe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(/images/IMG_8971.JPEG);
  background-size: cover;
}

#Harry {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(/images/IMG_8971.JPEG);
  background-size: cover;
}
