body {
  background-color: black;
  color: white;
}

#showcase {
  // background: url(/images/IMG_8971.JPEG);
  background-size: cover;
}

#Joe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/images/JoeBG.jpg);
  background-size: cover;
  background-position: center center;
}

#Harry {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(/images/HarryBG.jpg);
  background-size: cover;
  background-position: center center;
}

// #faq li,
// #services li {
//   list-style-image: url(/images/list-item.png);
// }

#footer {
  background-color: #0a0a0a;
  li {
    letter-spacing: 0.05rem;
  }
}
